<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Soups and Breads</title>
</head>
<body>
  <h1>All of our Soups and Breads</h1>

  <% for (const breadId in breadsAndSoups) { %>
    <h2><%= breadsAndSoups[breadId].style %></h2>
    <h4><%= breadsAndSoups[breadId].description %></h4>
  <% } %>
</body>
</html>
